/* <a href="https://www.vecteezy.com/vector-art/7633071-cartoon-colorful-panorama-of-spring-summer-beautiful-nature-green-grasslands-meadow-with-mountains-on-horizon-background-summer-mountain-landscape-dawn-over-the-valley-vector-illustration">Cartoon colorful panorama of spring summer beautiful nature, green grasslands meadow with mountains on horizon background, summer mountain landscape, dawn over the valley. Vector illustration Vectors by Vecteezy</a> */

/* font-family: 'Poiret One', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Syne Tactile', cursive;
font-family: 'Tilt Warp', cursive;
font-family: 'Titan One', cursive; */

.container {
  overflow: hidden;
}

.infinite-scrolling {
  background: url("https://static.vecteezy.com/system/resources/previews/001/928/973/original/rural-nature-road-scene-free-vector.jpg")
    repeat-x;
  height: 645px;
  width: 5760px; /* The image width times 3 */

  animation: slide 60s linear infinite;
}

.test-border {
  border: solid 1px salmon;
}

.main-container {
  margin: 5%;
  margin-bottom: 0%;
  position: relative;
  top: -80rem;
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  min-width: 100%;
}

body {
  font-family: sans-serif;
}

button {
  font-family: "Tilt Warp", cursive;
  font-size: 2rem;
  color: gray;
}

button:active,
.next-button:active {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgb(152 180 199 / 50%);
  background-color: #f3334e;
}

button:hover,
.next-button:hover {
  transition: all ease-in-out 0.8s;
  transform: scale(1.2);
  box-shadow: 10px 10px 10px rgb(152 180 199 / 50%);
  background-color: #f3334e;
}

input::placeholder {
  color: gray;
}

select,
input {
  min-height: 4rem;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: gray;
}

.add-button-div {
  display: flex;
  justify-content: center;
}

.add-button,
.expense-button,
.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 30vh;
  min-height: 10vh;
  margin: 5%;
  padding: 2%;
  border-radius: 10px;
  border-style: none;
}

.add-category-popup {
  display: none;
  flex-direction: column;
  /* align-items: stretch; */
  align-self: center;
  min-width: 80%;
  max-width: 800px;
  margin: 1%;
  border: solid 1px silver;
  /* font-family: sans-serif; */
  background-color: bisque;
}

.banner {
  margin: 1%;
  font-family: "Tilt Warp", cursive;
}

.category-heading {
  display: flex;
  text-align: center;
  margin-bottom: 2rem;
  align-self: center;
  font-size: 2rem;
  font-family: "Tilt Warp", cursive;
}

.category-label {
  margin-bottom: 1rem;
  align-self: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 98%;
  margin: 1%;
}

.dashboard .dashboard-heading {
  margin-bottom: 1rem;
  font-weight: bold;
  display: flex;
  font-family: "Tilt Warp", cursive;
  font-size: 1.5rem;
}
/* Setting min. width for headings of expense results */
.dashboard .dashboard-heading span {
  display: flex;
  min-width: 20%;
  overflow: hidden;

  /* border: 1px red solid; */
}

/* Giving more room (width) for contents of expense type and notes headings and lists */
.dashboard .dashboard-heading .wider,
.dashboard .dashboard-results .wider {
  min-width: 30%;
}

/* So that div containers in the results dashboard are side-by-side and fill out the available space */
.dashboard .dashboard-results {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

/* Setting min. width for all side-by-side expense results divs */
.dashboard .dashboard-results div {
  /* display: inline-block; */
  min-width: 20%;
  vertical-align: top;
  overflow: hidden;
  padding-right: 0.1rem;
  padding-bottom: 0.5rem;
}

.dashboard-body {
  display: none;
  min-width: 90%;
  background-color: white;
}

.form-style {
  display: flex;
}

.label-moods {
  align-self: center;
}

.label-newline,
select,
input {
  display: block;
  margin: 0.5rem;
}

.mood-popup {
  display: flex;
  flex-direction: column;
  margin: 1%;
  border: solid 1px magenta;
  /* font-family: sans-serif; */
  background-color: lightcyan;
}

.mood-checklist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  /* font-family: sans-serif; */
}

.moods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}

.next-button {
  font-family: "Tilt Warp", cursive;
  font-size: 2rem;
}

.popup {
  /* display: flex; */
  display: none;
  justify-content: center;
  flex-direction: column;
  border: solid 2px paleturquoise;
}

.show-details-popup {
  display: none;
  flex-direction: column;
  /* align-items: stretch; */
  align-self: center;
  min-width: 80%;
  max-width: 800px;
  margin: 1%;
  border: solid 1px silver;
  /* font-family: sans-serif; */
  background-color: bisque;
}

.site-banner {
  background-color: pink;
  align-self: stretch;
  text-align: center;
  font-size: 6rem;
}

/* .wider {
  min-width: 30%;
} */

@media (min-width: 600px) {
  .add-button button {
    min-width: 7.5rem;
    margin: 0;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1920px, 0, 0); /* The image width */
  }
}
